<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>关于我们-公司介绍</title>

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/page.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<link href="iconfont/iconfont.css" rel="stylesheet" />
   
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.SuperSlide.js" type="text/javascript"></script>
<script src="js/NSW_Index.js"></script>

</head>

<body>
<header id="header">
	<nav class="navbar navbar-inverse" role="banner">
		<div class="container">
        	<div class="row">
			<div class="col-md-3 navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index"><img src="images/logo.png" alt="logo" class="img-responsive"></a>
			</div>
            <div  class="col-md-9">
            <div class="tel">24小时服务热线：<span>0598-88888888</span></div>
			<div class="collapse navbar-collapse navbar-right">
				<ul class="nav navbar-nav">
					<li><a href="index">首页</a></li>
                    <li class="active"><a href="about" >关于我们</a></li>
					<!--<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">关于我们 <i class="fa fa-angle-down"></i></a>
						<ul class="dropdown-menu">
						<li><a href="about">公司介绍</a></li>
						<li><a href="honor">资质荣誉</a></li>
						<li><a href="video">视频展示</a></li>
						</ul>
					</li>-->
                    <li><a href="service" >服务项目</a></li>
					<li><a href="training">教育培训</a></li>
					<li><a href="team">精英团队</a></li>
					<li><a href="#">行业资讯</a></li>
                    <li><a href="searchGarbageSort_list">搜索垃圾</a></li>
                    <li><a href="loginout">退出登录</a></li>
				</ul>
			</div>
            </div>
            </div>
		</div>
	</nav>
</header>
    
    
	<!--banner-->
<div class="banner2">
	<p style="background:url(images/sub_banner_about.jpg) no-repeat center; background-size:cover;"></p>
</div>
<div class="clearfix"></div>
<section class="container">
<div class="head">关于我们<span>About us</span></div>
    <div class="class_tab">
        <a class="cur" href="about" >公司介绍</a><a href="honor" >资质荣誉</a><a href="video" >视频展示</a>
    </div>
	<div class="content" style="padding:0; line-height:35px;">
		<p><center><img src="images/787800994011958767.jpg" class="img-responsive" ></center>
  深圳市乐妈妈服务有限公司成立于2016年，旗下拥有家培训基地、数十家全国连锁加盟店。<br><br>
  深圳市了妈妈家政服务有限公司，专业从事家庭服务、管理及咨询的服务机构。公司大力推广企业品牌化发展,通过连锁加盟形式，创新发展多元化家庭服务产业新格局，现已成为国内知名品牌家政企业，公司可为社区提供全方位家政服务及培训有资质的企业，可提供从家政服务员到儿童家教、别墅管家、月嫂、育婴师、催乳师、保姆司机、厨娘、早教、护工、 养老护理员等全方位的家庭服务。<br><br>
  乐妈妈市场定位于中高端客户群体，运用现代化管理，真正实现家政服务也市场化和盈利性。<br><br>
  “乐妈妈安心品牌家政”的服务理念是把高素质、高质量、全方位的母婴养护服务送到每位顾客家中。为使您的宝宝更健康、更可爱。“乐妈妈安心家政机构“是您较佳的选择。<br><br>
  中心主要是为孕产妇以及婴幼儿提供先进科学的护理服务和健康指导，新生儿潜能开发以及婴幼儿早期教育和智力开发等。所有服务人员全部经过系统培训，严格考核和现场实习方可上岗，她们都非常珍惜和热爱自己从事的职业。在为顾客服务时，所有护理人员均佩戴有健康证及国家劳动部颁发的高级月嫂育婴师证资格证书、身份证体检报告、上岗工作证。<br><br>
  秉承“客户至上、服务第一“的经营理念，严格把关，建立一个证件齐全、专业优质、科学的现代化护理服务中心。
       </p>
	</div>
    <div class="clearfix"></div>
</section>


<!-- 安全 Start -->
<section class="service-v1">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-md-4 col-lg-4">
				<div class="item">
					<div class="icon">
						<i class="iconfont">&#xe620;</i>
					</div>
					<div class="text">
						<div class="inner">
						<h3>正规公司，值得信赖</h3>
						<p>工商注册备案，安全可靠！</p>
						</div>
					</div>							
				</div>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4">
				<div class="item">
					<div class="icon">
						<i class="iconfont">&#xe633;</i>
					</div>
					<div class="text">
						<div class="inner">
						<h3>安全保障，持证上岗</h3>
						<p>双证齐全（身份证，健康证）疾病排查，身份联网确认</p>
						</div>
					</div>							
				</div>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4">
				<div class="item">
					<div class="icon">
						<i class="iconfont">&#xe614;</i>
					</div>
					<div class="text">
						<div class="inner">
						<h3>本地服务，更贴心</h3>
						<p>专注垃圾分类，让您的生活不再受垃圾分类的困扰，让环境更加美好</p>
						</div>
					</div>							
				</div>
			</div>
		</div>
	</div>
</section>



<!--footer-->
<footer id="footer">
	<div class="container">
    	<span><a href="index">首页</a><a href="about" >关于我们 </a><a href="service" >服务项目</a><a href="training">教育培训</a><a href="team">精英团队</a><a href="news">行业资讯</a><a href="comment">客户评价</a><a href="contact">联系我们</a></span>
        <span>联系地址：三明市三元区荆西街道25号    &nbsp;&nbsp;   联系方式：0598-88888888<br>
Copyright © 2005-2017 All rights reserved.   京ICP备10012705号-8 </span>
	</div>
</footer>

</body>
</html>
