<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>行业资讯</title>

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/page.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<link href="iconfont/iconfont.css" rel="stylesheet" />
   
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.SuperSlide.js" type="text/javascript"></script>
<script src="js/NSW_Index.js"></script>

</head>
<!--/head-->

<body>
<header id="header">
	<nav class="navbar navbar-inverse" role="banner">
		<div class="container">
        	<div class="row">
			<div class="col-md-3 navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index"><img src="images/logo.png" alt="logo" class="img-responsive"></a>
			</div>
            <div  class="col-md-9">
            <div class="tel">24小时服务热线：<span>0598-88888888</span></div>
			<div class="collapse navbar-collapse navbar-right">
				<ul class="nav navbar-nav">
					<li><a href="index">首页</a></li>
                    <li><a href="#" >关于我们</a></li>
					<!--<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">关于我们 <i class="fa fa-angle-down"></i></a>
						<ul class="dropdown-menu">
						<li><a href="about">公司介绍</a></li>
						<li><a href="honor">资质荣誉</a></li>
						<li><a href="video">视频展示</a></li>
						</ul>
					</li>-->
                    <li><a href="service" >服务项目</a></li>
					<li><a href="training">教育培训</a></li>
					<li><a href="team">精英团队</a></li>
					<li class="active"><a href="news">行业资讯</a></li>
                    <li><a href="searchGarbageSort_list">搜索垃圾</a></li>
                    <li><a href="loginout">退出登录</a></li>
				</ul>
			</div>
            </div>
            </div>
		</div>
	</nav>
</header>

<!--banner-->
<div class="banner2">
	<p style="background:url(images/banner1.jpg) no-repeat center; background-size:cover;"></p>
</div>
<div class="clearfix"></div>
<section class="container">

	<!--<div class="c_title"><font>新闻资讯</font> <span>当前位置：<a href="index">首页</a>&gt;新闻资讯</span></div>-->
	<div class="news_title">
		<h2>如何教给熊孩子自我控制</h2>
		<p>2016-09-22　 作者：admin   &nbsp;&nbsp;   阅读：684  </p>
	</div>
	<div class="content">
    <p>　　每位妈妈，都可以送给心爱的宝宝一件最珍贵的礼物。它可以让宝宝的智商提高10分，减少宝宝的医药费，让宝宝的眼睛、心脏、肠道等几乎所有器官都更加健康，降低宝宝夭折的风险，它就是母乳。<br>
    <center><img src="images/20170203110531818.jpg"></center>

　　坚持母乳，宝宝头脑更聪明！<br>
 
　　宝宝的大脑发育在婴儿期是最快的。短短一年内，宝宝的脑容量就可以达到成年人脑容量的60%左右。而母乳是让大脑发育的最佳食物。<br><br>
 
　　1、让人聪明的脂肪<br>
 
　　母乳中起关键作用的成分，是一种叫DHA（二十二碳六烯酸）的脂肪。它只存在于母乳中，不存在于牛奶或其他奶制品中。DHA与其他脂肪一起，为大脑提供制造髓磷脂所必需的物质，髓磷脂是包裹在神经纤维外面的脂肪鞘，使神经纤维与外部隔离，以便传递信息。对脑组织的发育、成长和维持正常功能起到非常重要的作用。<br><br>
 
　　2、让人聪明的糖分<br>
 
　　母乳里的主要糖分是乳糖。乳糖分解所得的半乳糖，是脑组织发育的一种宝贵营养。哺乳动物中，智力水平越高的动物，其乳汁中乳糖的含量越高。此外，乳糖还能促进肠道健康。牛奶中虽然也含有乳糖，但含量远不及母乳。<br><br>
 
　　3、让人聪明的网络连接<br>
 
　　脑细胞，就像错综复杂的电网一样。在宝宝出生后前2年，大脑飞速发育，脑细胞迅速繁殖，互相连接，形成大脑神经元网络。宝宝和妈妈每一次吃奶时的互动，每一次肌肤之亲，都能让大脑产生新的网络连接。</p>
	</div>
</section>
    <div class="clearfix"></div>
<!-- 安全 Start -->
<section class="service-v1">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-md-4 col-lg-4">
				<div class="item">
					<div class="icon">
						<i class="iconfont">&#xe620;</i>
					</div>
					<div class="text">
						<div class="inner">
						<h3>正规公司，值得信赖</h3>
						<p>工商注册备案，安全可靠！</p>
						</div>
					</div>							
				</div>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4">
				<div class="item">
					<div class="icon">
						<i class="iconfont">&#xe633;</i>
					</div>
					<div class="text">
						<div class="inner">
						<h3>安全保障，持证上岗</h3>
						<p>双证齐全（身份证，健康证）疾病排查，身份联网确认</p>
						</div>
					</div>							
				</div>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4">
				<div class="item">
					<div class="icon">
						<i class="iconfont">&#xe614;</i>
					</div>
					<div class="text">
						<div class="inner">
						<h3>本地服务，更贴心</h3>
						<p>专注垃圾分类，让您的生活不再受垃圾分类的困扰，让环境更加美好</p>
						</div>
					</div>							
				</div>
			</div>
		</div>
	</div>
</section>


<!--footer-->
<footer id="footer">
	<div class="container">
    	<span><a href="index">首页</a><a href="about" >关于我们 </a><a href="service" >服务项目</a><a href="training">教育培训</a><a href="team">精英团队</a><a href="news">行业资讯</a><a href="comment">客户评价</a><a href="contact">联系我们</a></span>
        <span>联系地址：三明市三元区荆西街道25号    &nbsp;&nbsp;   联系方式：0598-88888888<br>
Copyright © 2005-2017 All rights reserved.   京ICP备10012705号-8 </span>
	</div>
</footer>

</body>
</html>
