<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>服务项目</title>

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/page.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<link href="iconfont/iconfont.css" rel="stylesheet" />
   
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.SuperSlide.js" type="text/javascript"></script>
<script src="js/NSW_Index.js"></script>

</head>
<!--/head-->


<body>
<header id="header">
	<nav class="navbar navbar-inverse" role="banner">
		<div class="container">
        	<div class="row">
			<div class="col-md-3 navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index"><img src="images/logo.png" alt="logo" class="img-responsive"></a>
			</div>
            <div  class="col-md-9">
            <div class="tel">24小时服务热线：<span>0598-88888888</span></div>
			<div class="collapse navbar-collapse navbar-right">
				<ul class="nav navbar-nav">
					<li><a href="index">首页</a></li>
                    <li><a href="#" >关于我们</a></li>
					<!--<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">关于我们 <i class="fa fa-angle-down"></i></a>
						<ul class="dropdown-menu">
						<li><a href="about">公司介绍</a></li>
						<li><a href="honor">资质荣誉</a></li>
						<li><a href="video">视频展示</a></li>
						</ul>
					</li>-->
                    <li class="active"><a href="service" >服务项目</a></li>
					<li><a href="training">教育培训</a></li>
					<li><a href="team">精英团队</a></li>
					<li><a href="#">行业资讯</a></li>
                    <li><a href="searchGarbageSort_list">搜索垃圾</a></li>
                    <li><a href="loginout">退出登录</a></li>
				</ul>
			</div>
            </div>
            </div>
		</div>
	</nav>
</header>
    
<!--banner-->
<div class="banner2">
	<p style="background:url(images/banner3.jpg) no-repeat center; background-size:cover;"></p>
</div>
<div class="clearfix"></div>
<section class="container">
<div class="head">服务项目<span>Company profile</span></div>
<div class="class_tab">
	<a class="cur" href="service" >垃圾分类员</a>
</div>

	<div class="center" >
   <div style="width:98%;height:auto;margin:0 auto;">
              <p>
                  7月1日即将在上海实施的“史上最严垃圾分类措施”，催生了大批新兴职业，“代收垃圾网约工”便是其中之一。“绿色职业”与“网约工”相结合，不仅改变了这一职业的工作方式，也让垃圾回收小哥月入过万元成为现实。“代收垃圾网约工”，顾名思义，就是客户通过线上预约，线下收废品小哥上门回收并将垃圾分类打包，把纸制品送到纸厂，把塑料送到粉碎厂。
              </p>
           </div>
	<div class="life">
               <div class="newborn fl">
                   <dl>
                       <dt>“垃圾分类员”具有示范意义</dt>
                       <dd>&emsp;&emsp;“代收垃圾网约工/垃圾分类员”，顾名思义就是客户在手机下单预约，线下小哥上门回收。《中华人民共和国职业分类大典》中明确了从事绿色、低碳、环保，致力于资源再生回收的职业为“绿色职业”，“代收垃圾网约工”也位列其中。随着互联网技术的发展，“绿色职业”与“网约工”相结合，也让垃圾回收小哥月入过万成为现实。</dd>

                           <dd>&emsp;&emsp;从某种意义上说，“代收垃圾网约工”也算是个新职业。在过去，我们对垃圾回收人员甚至都没有一个专门的称谓。“捡垃圾的”“拾破烂的”，这些极其随意且略带嫌弃的称呼，直观地表明了垃圾回收从业者地位之低以及市民对垃圾回收本身的习惯性漠视。近些年来，“垃圾回收员”“代收垃圾网约工”等横空出世，这一职业群体的人员结构、工作方式以及社会角色，都发生了根本性变化。这对于推进“垃圾分类”，显然是一件好事。</dd>

                   </dl>
               </div> 

           </div>   
</div>
<div class="daily"> 
  <p style="width:100%;height:auto;margin:0 auto;font-size:2rem;color: #ff6c7b;font-weight:bold;">每日工作内容</p> 
  <div class="work">
      <div class="contentr fl" >
                 <dl>
                   <dt>6:30-9:00</dt>
                    <dd>垃圾分类员上门给雇主整理垃圾并且扔掉</dd>
                  </dl>   
                   <dl>
                   <dt>16:30-18:30</dt>
                    <dd>垃圾分类员上门给雇主整理垃圾并且扔掉</dd>
                  </dl>
                 </div> 

   <div class="clear"></div>
   </div>
</div>

<div class="honor">
  <h3>护理照片</h3>
    <ul class="huli_tu">
       <li><img src="images/ly1.jpg" /></li>
       <li><img src="images/huli2.jpg" /></li>
       <li><img src="images/huli3.jpg" /></li>
       <li><img src="images/huli4.jpg" /></li>
    </ul>
</div>
		

    <div class="clearfix"></div>
</section>

<!-- 安全 Start -->
<section class="service-v1">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-md-4 col-lg-4">
				<div class="item">
					<div class="icon">
						<i class="iconfont">&#xe620;</i>
					</div>
					<div class="text">
						<div class="inner">
						<h3>正规公司，值得信赖</h3>
						<p>工商注册备案，安全可靠！</p>
						</div>
					</div>							
				</div>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4">
				<div class="item">
					<div class="icon">
						<i class="iconfont">&#xe633;</i>
					</div>
					<div class="text">
						<div class="inner">
						<h3>安全保障，持证上岗</h3>
						<p>双证齐全（身份证，健康证）疾病排查，身份联网确认</p>
						</div>
					</div>							
				</div>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4">
				<div class="item">
					<div class="icon">
						<i class="iconfont">&#xe614;</i>
					</div>
					<div class="text">
						<div class="inner">
						<h3>本地服务，更贴心</h3>
						<p>专注垃圾分类，让您的生活不再受垃圾分类的困扰，让环境更加美好</p>
						</div>
					</div>							
				</div>
			</div>
		</div>
	</div>
</section>


<!--footer-->
<footer id="footer">
	<div class="container">
    	<span><a href="index">首页</a><a href="about" >关于我们 </a><a href="service" >服务项目</a><a href="training">教育培训</a><a href="team">精英团队</a><a href="news">行业资讯</a><a href="comment">客户评价</a><a href="contact">联系我们</a></span>
        <span>联系地址：三明市三元区荆西街道25号    &nbsp;&nbsp;   联系方式：0598-88888888<br>
Copyright © 2005-2017 All rights reserved.   京ICP备10012705号-8 </span>
	</div>
</footer>


</body>
</html>
