<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>教育培训</title>

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/page.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<link href="iconfont/iconfont.css" rel="stylesheet" />
   
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.SuperSlide.js" type="text/javascript"></script>
<script src="js/NSW_Index.js"></script>

</head>
<!--/head-->


<body>
<header id="header">
	<nav class="navbar navbar-inverse" role="banner">
		<div class="container">
        	<div class="row">
			<div class="col-md-3 navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index"><img src="images/logo.png" alt="logo" class="img-responsive"></a>
			</div>
            <div  class="col-md-9">
            <div class="tel">24小时服务热线：<span>0598-88888888</span></div>
			<div class="collapse navbar-collapse navbar-right">
				<ul class="nav navbar-nav">
					<li><a href="index">首页</a></li>
                    <li><a href="#" >关于我们</a></li>
					<!--<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">关于我们 <i class="fa fa-angle-down"></i></a>
						<ul class="dropdown-menu">
						<li><a href="about">公司介绍</a></li>
						<li><a href="honor">资质荣誉</a></li>
						<li><a href="video">视频展示</a></li>
						</ul>
					</li>-->
                    <li><a href="service" >服务项目</a></li>
					<li class="active"><a href="training">教育培训</a></li>
					<li><a href="team">精英团队</a></li>
					<li><a href="#">行业资讯</a></li>
                    <li><a href="searchGarbageSort_list">搜索垃圾</a></li>
                    <li><a href="loginout">退出登录</a></li>
				</ul>
			</div>
            </div>
            </div>
		</div>
	</nav>
</header>
    
<!--banner-->
<div class="banner2">
	<p style="background:url(images/banner1.jpg) no-repeat center; background-size:cover;"></p>
</div>
<div class="clearfix"></div>
<section class="container">
<div class="head">教育培训<span>Education and training</span></div>
<div class="leave" >
 <div class="brand">
              <p><i>Ruan.X.T</i>，</p>
           </div> 
     <div class="senior">
         <ul>
             <li>
                <img src="images/huli3.jpg" />
                <dl>
                    <dt>垃圾分类师</dt>
                    <dd>垃圾分类知识</dd>
                    <dd>免费入驻平台</dd>
                    <dd>前期不收中介费</dd>

                </dl>
                <div class="cost">
                   <dl>
                       <dt>￥1980起</dt>
                       <dd>包含书本费、提供住宿</dd>
                   </dl>
                </div>
            </li>
         </ul>
   </div>

<div class="clearFix"></div>
<div class="training">
      <div class="cont fl" >
                 <dl>
                   <dt>培训</dt>
                    <dd>1.考核过关包分配工作，过实习期后月薪不低于4500元！否则退还全部学费！</dd>
                    <dd>2.公司聘请深圳专业律师团队，保障你在雇主家工作权益，让你安心工作安心赚钱</dd>
                    <dd>3.现在立即报名，赠送价值200元意外伤害险，让你安全有保障</dd>
                    <dd>4.现在电话报名XX课程，立减XXX元，赠送价值XX元私课和价值XX元书籍</dd>
                    <dd>5.成为公司员工，承诺再次上单不超过10天，超过一天补贴100，让你工作不再担忧</dd>
                    <dd>6.在本公司上单，一年累计上单8个立奖1千，公司每年组织旅游发放年终奖！</dd>
                    <dd>7.培训期间，一律包吃住，公司提供统一床被，每天两餐两荤一素，吃得营养睡得安心</dd>
                    <dd>8.深圳知名教学团队一对一辅导，因材施教，包交包会</dd>
                    <dd>9.上单期间公司专业团队为您指导沟通，做你与客户之间的沟通桥梁，让客户对你刮目相看</dd>

                   </dl>
                 </div> 
     <div class="cont fr" >
                  <dl>

                   </dl>
                 </div> 
                 <div class="clear"></div>
</div>
</div>
    <div class="clearfix"></div>
</section>

<!-- 安全 Start -->
<section class="service-v1">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-md-4 col-lg-4">
				<div class="item">
					<div class="icon">
						<i class="iconfont">&#xe620;</i>
					</div>
					<div class="text">
						<div class="inner">
						<h3>正规公司，值得信赖</h3>
						<p>工商注册备案，安全可靠！</p>
						</div>
					</div>							
				</div>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4">
				<div class="item">
					<div class="icon">
						<i class="iconfont">&#xe633;</i>
					</div>
					<div class="text">
						<div class="inner">
						<h3>安全保障，持证上岗</h3>
						<p>双证齐全（身份证，健康证）疾病排查，身份联网确认</p>
						</div>
					</div>							
				</div>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4">
				<div class="item">
					<div class="icon">
						<i class="iconfont">&#xe614;</i>
					</div>
					<div class="text">
						<div class="inner">
						<h3>本地服务，更贴心</h3>
						<p>专注垃圾分类，让您的生活不再受垃圾分类的困扰，让环境更加美好</p>
						</div>
					</div>							
				</div>
			</div>
		</div>
	</div>
</section>

<!--footer-->
<footer id="footer">
	<div class="container">
    	<span><a href="index">首页</a><a href="about" >关于我们 </a><a href="service" >服务项目</a><a href="training">教育培训</a><a href="team">精英团队</a><a href="news">行业资讯</a><a href="comment">客户评价</a><a href="contact">联系我们</a></span>
        <span>联系地址：三明市三元区荆西街道25号    &nbsp;&nbsp;   联系方式：0598-88888888<br>
Copyright © 2005-2017 All rights reserved.   京ICP备10012705号-8 </span>
	</div>
</footer>




</body>
</html>
